:root {
  --primary: #1ec5df;
  --bg: #010101;
}

★ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0, 5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: top 0.5s;
  backdrop-filter: blur(5px);
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  margin-bottom: 5px;
  font-size: 5em;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  line-height: 1.1;
}


.hero .content p {
  font-size: 1.3rem;
  margin-top: 10px;
  line-height: 1.4;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background: linear-gradient(135deg, #9b5de5, #00e0ff);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px rgba(0, 224, 255, 0.5);
  transition: all 0.3s ease;
}

.hero .content .cta :hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 224, 255, 0.8);
}

/* About Section */
.about,
.job,
.social,
.products {
  padding: 6rem 7% 1.4rem;
}

.about h2,
.job h2,
.social h2,
.products h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.job h2 span,
.social h2 span,
.products h2 span {
  color: #fff;
  background: linear-gradient(135deg, #9b5de5, #00e0ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about .row .about-img {
  flex: 1 1 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about .row .about-img img {
  width: 50%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
}

/* Job Section */

.job h2,
.products h2 {
  margin-bottom: 1rem;
}
.job p,
.products p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 500;
  line-height: 1, 6;
}

.job .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.job .row .job-card {
  text-align: center;
  padding-bottom: 4rem;
}

.job .row .job-card img {
  border-radius: 50%;
  width: 60%;
}

.job .row .job-card .job-card-title {
  margin-top: 1rem auto 0.5rem;
  color: white;
}



/* Media Section */
.social h2 {
  margin-bottom: 1rem;
}

.social p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 500;
  line-height: 1, 6;
}

.social .din {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.social .din .social-cd {
  text-align: center;
  padding-bottom: 4rem;
}

.social .din .social-cd-img {
  border-radius: 50%;
  width: 55%;
}

.social .din .social-cd .social-cd-title {
  margin-top: 1rem auto 0.5rem;
}

/* Footer */
footer {
  background: linear-gradient(135deg, #9b5de5, #00e0ff);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .sosmed {
  padding: 1rem 0;
}

footer .sosmed a {
  color: #fff;
  margin: 1rem;
}

footer .sosmed a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/*GAming*/
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;

}

.products .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.products .product-image {
  padding: 1rem 0;
}

.products .product-image img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.products .product-content h3 {
  font-size: 2rem;
}

/* Animation */

.hidden-element {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.9s ease, transform
  0.9s ease;
}


.from-left {
  transform: translateX(-80px);
}

.from-right {
  transform: translateX(80px);
}

.from-bottom {
  transform: translateY(60px);
}

.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

h2.hidden-element {
  transition: opacity 1s ease, transform 1s ease;
}

/* Sebunyikan icon */
#search {
  display: none !important;
}


/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .job p {
    font-size: 1.2rem;
  }

  .social p {
    font-size: 1.2rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
